<footer>
    <div class="p-5">
        <img src="/img/Logo_Primary-Reversed-color.jpg" alt="Cal State Monterey Bay logo."><br>
        <span class="footer_font">CST336 Internet Programming. 2026&copy; Kim</span><br>
        <span class="footer_font"><em>Disclaimer: The information in this webpage is for academic purposes only.</em></span>
    </div>
</footer>
