<nav class="d-inline-flex flex-row align-items-center p-2 mx-auto bd-highlight"
     style="background-color:rgba(100,190,190,.8); height:50px;">
    <h3 class="mx-5" style="font-size: 25px;">CS Online Portfolio</h3>
    <a class="" href="/">Home</a>
    <a class="mx-5" href="/courses">Courses</a>
    <a class="mx-5" href="/art">My Art</a>
    <a class="mx-5" href="/pkmn">My Favorite Pokémon!</a>
    <a class="mx-5" href="/isopods">Isopods!</a>
</nav>
