<div class="position-relative bg-dark bg-gradient text-start text-wrap mx-auto p-4" style="width: 600px; border-radius: 25px">
    <div class="row g-0 position-relative">
        <div class="col-md-4 img-fluid rounded-circle bg-white" style="width: 150px">
            <img src="" id="pkmnSprite" alt="Pokémon sprite image." width="150px"
                 style="position: relative; top:40px;">
        </div>
        <div class="col-md-8 p-5" style="color: black;">
            <div class="card-body rounded bg-white p-3" style="margin-left: 30px; margin-bottom: 10px;">
                <b>Dex #</b><span id="pkmnNum"></span><br>
                <b>Species: </b><span id="pkmnName"></span><br>
                <b>Type(s): </b><span id="pkmnTypes"></span><br>
            </div>
        </div>
        <em style="font-size:12px;">Pokémon data retrieved from PokéAPI.</em>
    </div>
    <script src="/js/script.js"></script>
</div>
