<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/body_h1.ejs') %>
        <%- include('partials/nav.ejs') %>
        <h2>Courses I've Taken</h2>
        <div class="grid rounded-pill mx-auto" style="background-color:rgba(0,0,0,.3); width:600px;">
            <div class=" p-3">
                CST300 Major ProSeminar
            </div>
            <div class=" p-3">
                CST338 Software Design
            </div>
            <div class=" p-3">
                CST363 Database Management
            </div>
            <div class=" p-3">
                CST334 Operating Systems
            </div>
            <div class=" p-3">
                CST311 Intro to Computer Networking
            </div>
            <div class=" p-3">
                CST336 Internet Programming [Current!]
            </div>
        </div>
    </body>
    <%- include('partials/footer.ejs') %>
</html>
